@import "tailwindcss";

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

@theme {
  --color-lgreen: hsl(183, 100%, 15%);
  --color-lgray: hsl(186, 14%, 43%);
  --color-llgreen: hsl(185, 41%, 84%);
  --color-Igray: hsl(202, 50%, 97%);
  --color-Agreen: hsl(183, 100%, 33%);
}
